#opp{
width: 200px;
height: 200px;
position: relative;
left: 60vw;
top: 28vh;

}

#hero{
    width: 200px;
    height: 200px;
    position: relative;
    left: 20vw;
    top: 40vh;

    }

    h4{
     flex-direction: column; 
     font-family: 'Press Start 2P', cursive;  
    }

    h3{
        flex-direction: column; 
        font-family: 'Press Start 2P', cursive; 
        position: relative;
        top: 10vh; 
       }
   

    .hero-image{
        background-image: url(battlegroundone.png);
        background-size: cover;
        height: 90vh;
        background-position: center bottom;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* .box{
        background-image: url(box1.png);
        background-size: cover;
        position: relative;
        top: 30vh;
        /* size: 5vh; */
    /* } */ 

button{
    font-family: 'Press Start 2P', cursive;
    position: relative;
    top: 38vh;
    left:  5vw;
}
 
 @keyframes flash {
    0%, 50%, 100% {
       opacity: 1;
    }
    25%, 75% {
       opacity: 0;
    }
 }
 
 .flash {
    animation-name: flash;
 }



 