#opp{
width: 200px;
height: 200px;
position: relative;
left: 60vw;
top: 28vh;

}

#hero{
    width: 200px;
    height: 200px;
    position: relative;
    left: 20vw;
    top: 40vh;

    }

    h4{
     flex-direction: column; 
     font-family: 'Press Start 2P', cursive;  
    }

    .hero-image{
        background-image: url(scene.png);
        background-size: cover;
        height: 90vh;
        background-position: center bottom;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

button{
    font-family: 'Press Start 2P', cursive;
    position: relative;
    top: 41vh;
    left:  5vw;
}